body {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal !important;
  line-height: 1.6;
  display: block;
}
h1 > a {
  color: #fff;
  font-family: 'Indie Flower', cursive;
  text-decoration: none;font-size: 125%;
}
section {
  display:block;
  padding-top: 5%;
  max-width: 600px;
  margin: 0 auto !important;
  text-align:center;
}
